html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

body {
    background-color: #000;
    color: #fff;
}

h1 {
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-weight: 100;
}

a {
    font-size: 16px;
    color: aquamarine;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 32px;
}

#hero {
    background-color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero video {
    margin-bottom: 25px;
}

#travel_guide {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#travel_guide h2 {
    font-size: 42px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 25px;
}

#travel_guide p {
    font-size: 21px;
    text-align: center;
    color: gray;
}


#coming_soon {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

#coming_soon img {
    display: inline-block;
}

#coming_soon h1 {
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-weight: 100;
}

footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-left: 10px;
}

footer p {
    font-size: 21px;
    color: gray;
    text-align: right;
    font-weight: 100;
}


@media only screen and (max-width: 768px) {
    #hero { 
        padding-top: 50px;
    }
}