html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

body {
    background-color: #000;
    color: #fff;
}

#hero {
    background-color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

#hero h1 {
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-weight: 100;
}

#hero a {
    font-size: 16px;
    color: aquamarine;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 32px;
}

#hero video {
    margin-bottom: 25px;
}

#travel_guide {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
}

#travel_guide h2 {
    font-size: 42px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 25px;
}

#travel_guide p {
    font-size: 21px;
    text-align: center;
    color: gray;
}


#coming_soon {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    padding: 25px 0;
}

#coming_soon img {
    display: inline-block;
}

#coming_soon h1 {
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-weight: 100;
}